.loginWnd{
    height: 160px;
    width: 90%;
    max-height: 160px;
    max-width: 450px;
    min-width: 200px;
    background-color: white;
    align-items: center;
    justify-items: center;
    padding: 20px;
}

.loginContent{
    width: 100%;
    height: 120px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headertext{
  display: block;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
  /* margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-weight: bold;
}

.loginBtn{
    align-self: end;
    justify-self: self-end;
    /* margin-left: 50px; */
    /* margin-right: 0px; */
    width: 75px;
    height: 30px;
}


.signupBtn{
    margin-top: 10px;
    margin-left: 20%;
    width: 75px;
    height: 30px;
}